:root {
  --bg-color: #f2f2f2;
  --form-bg-color: #fff;
  --border-color: lightgray;
  --focus-color: #1080e9;
  --error-color: #ff4d4d;
  --success-color: rgb(35, 230, 35);
  --focus-ring-color: rgba(14, 133, 231, 0.5);
  --btn-bg-color: #e7870a;
  --btn-hover-bg-color: #45a049;
  --flex-row-gap: 1.5rem;
  --border-radius: 6.7px;
  --gap: 1rem;
  --body-padding: 1.5rem;
  --form-padding: 1.2rem;
  --font-family: 'Arial', sans-serif;
  --title-font-size: 22px;
}

* {
  
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: var(--body-padding);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  background: url("https://uploads.coppermind.net/Vin_mistborn_by_Steve_Argyle.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  
}
#form {
  border-radius: var(--border-radius);
  display: grid;
  gap: var(--gap);
  max-width: 600px;
  grid-template-columns: 1fr;
  margin: 0 auto;
  
  padding: var(--form-padding);
  background-color: var(--form-bg-color);
}

.form-header {
  grid-column: 1 / -1;
  font-weight: 500;
  font-family: "Georgia", serif;
  text-align: center;
  font-size: clamp(1rem, 2.3vw + 0.54rem, 1.3rem);;
}
input:not([id="offers"]) {
  border-radius: var(--border-radius);
  padding: 0.4rem;
  font-size: 1.067rem;
  width: 90%
}

label:not([for="offers"]){
  display:block;
  margin-bottom: 0.25rem;
}

.button {
  grid-column: 1 / -1;
  padding: 0.6rem 0.67rem;
  justify-self: center;
  border-radius: var(--border-radius);
  width: auto;
  background-color: var(--btn-bg-color);
  border: none;
  color: white
}
 
.button:hover {
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
}

input:not([id="offers"]):focus {
  outline: none;

  border: 2px solid var(--focus-color);
  
  box-shadow: 0 0 0 3px var(--focus-ring-color); 

}

input:user-valid {
  outline: none;
  border: 2px solid var(--success-color);
}

input:user-invalid {
  outline: none;
  border: 2px solid var(--error-color);
}


.form-footer {
  text-align: center;
  
  color: white;
  mix-blend-mode: exclusion;
  
}

.form-footer a {
  text-decoration: none;
  color: yellow;
}
header {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  
}
.logo img {
  
  width: clamp(80px, 25vw, 200px);
  height: auto;
  align-self: center;
  padding-top: 2rem;
  
}
.titles {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.title {
  font-size: var(--title-font-size);
  margin: 2rem auto;
  text-align: center;
  color: white;
  mix-blend-mode: exclusion;
  font-weight: 800;
}

.subtitle {
  font-size: calc(var(--title-font-size) - 6px);
  color: white;
  mix-blend-mode: exclusion;
  margin: 0 auto;
  text-align:center
  
}

@media screen and (min-width: 768px) {
  #form {
    grid-template-columns: 1fr 1fr;
  }
  :root {
    --title-font-size: 28px;
  }
}




