:root {
  --bg-color: #f2f2f2;
  --form-bg-color: #fff;
  --border-color: lightgray;
  --focus-color: #4CAF50;
  --error-color: #ff4d4d;
  --focus-ring-color: rgba(76, 175, 80, 0.5);
  --btn-bg-color: #e7870a;
  --btn-hover-bg-color: #45a049;
  
  --border-radius: 6.7px;
  --gap: 0.67rem;
  --form-padding: 1rem;
  --font-family: 'Arial', sans-serif;

}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  display: grid;

 
}
#form {
  display: grid;
  gap: var(--gap);
  max-width: 600px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: var(--form-padding);
  background-color: var(--form-bg-color);
}

.form-header {
  grid-column: 1 / -1;
  font-weight: 500;
  font-family: "Georgia", serif;
  text-align: center;
}
input {
  border-radius: var(--border-radius);
  padding: 0.4rem;
  font-size: 1.067rem;
}

label:not([for="offers"]){
  display:block;
  margin-bottom: 0.25rem;
}

.button {
  grid-column: 1 / -1;
  padding: 0.6rem 0.67rem;
  justify-self: center;
  border-radius: var(--border-radius);
  width: auto;
  background-color: var(--btn-bg-color);
  border: none;
  color: white
}
 
.button:hover {
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
}

input:focus {
  outline: none;
  border-color: var(
}


